{% extends 'sdrc/base.html' %}

{% block content %}

        <!-- page content -->

        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Budget Extension Form</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" method="post" data-parsley-validate class="form-horizontal form-label-left">
                        {% csrf_token %}
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Category
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         <input class="form-control" value="{{ category }}" name="category">
                        </div>
                      </div>
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Amount Requested
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         <input class="form-control" placeholder="{{ amount }}" type="number" name="amount">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Reason
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <textarea class="form-control" name="reason" id="hotelDescription" placeholder="">Expense Name: {{ expense }}
Expense Description: {{ description }}</textarea>
                        </div>
                      </div>

                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
        </div>
    </div>
        <!-- /page content -->
{% endblock %}