{% extends 'sdrc/base.html' %}
{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="x_panel">
                  <div class="x_title">
                    <h2>Gantt Chart</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>



      <div class="x_content">

     <div id="chart_div" style="width: 900px; height: 400px;"></div>
      </div>
</div>



   <script>
      google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Assigned To');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');

      array = {{ array|safe }}



        for (var i = 0; i < {{ array|length }}; i++){
            var arr ={{ array|safe }}[0];

                var milestone = {{ array|safe }}[i][0]
                var name = milestone + ": " + {{ array|safe }}[i][1]

                var resource = {{ array|safe }}[i][2]



                 var selected_date_1 = {{ array|safe }}[i][3];


                 var selected_date_2 = {{ array|safe }}[i][4];
                 var status = {{ array|safe }}[i][5]


                 data.addRows([
                         [name,
                         name,
                         resource,
                         new Date(selected_date_1),
                         new Date(selected_date_2),
                         null,
                         status,
                         null]
                 ]);



        }

      var options = {
        height: 400,
        gantt: {
          trackHeight: 40,
          percentEnabled: false
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>

{% endblock %}