{% extends 'sdrc/base.html' %}

{% block content %}
    <!-- page content -->
          <div class="x_panel">
            <div class="page-title">
              <div class="title_left">
                <h3>Project Status</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
              <div class="x_content">
                <!-- Table -->
                   <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Project Name</th>
                          <th>Principal Investigator</th>
                          <th>Funding Agency</th>
                            <th>Project Progress</th>
                          <th>Starting Date</th>
                          <th>Deadline</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>National Study on Online Sexual Abuse and Exploitation of Children in the Philippines</td>
                          <td>Dr. Maria Caridad H. Tarroja</td>
                          <td>United Nations Children's Fund (UNICEF)</td>
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                            </div>
                            <small>57% Complete</small>
                          </td>
                          <td>12/01/2017</td>
                          <td>01/30/2019</td>
                        </tr>
                        <tr>
                          <td>Baseline and Impact Assessment of Health Literacy Project in Iloilo</td>
                          <td>Dr. Roberto E. Javier, Jr.</td>
                          <td>Unilab Foundation</td>
                            <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="47"></div>
                            </div>
                            <small>47% Complete</small>
                          </td>
                            <td>07/31/2018</td>
                            <td>05/14/2019</td>
                        </tr>
                        <tr>
                          <td>A Study on the Financing of LGU-Owned Hospitals</td>
                          <td>Dr. Marites M. Tiongco</td>
                          <td>Philippine Council for Health Research and Development (PCHRD)</td>
                            <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                            </div>
                            <small>77% Complete</small>
                          </td>
                            <td>03/07/2018</td>
                            <td>12/25/2018</td>
                        </tr>
                        <tr>
                          <td>Health Conditions, Health Seeking Behavior, and Access to Insurance Among Overseas Filipino Workers</td>
                          <td>Dr. Melvin A. Jabar</td>
                          <td>Philippine Council for Health Research and Development (PCHRD)</td>
                             <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                            </div>
                            <small>60% Complete</small>
                          </td>
                            <td>06/21/2018</td>
                            <td>12/22/2018</td>
                        </tr>
                       <tr>
                          <td>National Kids Online Survey (NKOLS)</td>
                          <td>Dr. Rhoderick V. Nuncio</td>
                          <td>United Nations Children's Fund (UNICEF)</td>
                            <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="12"></div>
                            </div>
                            <small>12% Complete</small>
                          </td>
                            <td>11/22/2017</td>
                            <td>11/22/2018</td>
                        </tr>
                      <tr>
                          <td>Capacity Building in Asia for Resilience Education (CABARET)</td>
                          <td>Dr. Marlon DL. Era</td>
                          <td>University of Huddersfield, UK / Erasmus+ Programme of European Union</td>
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="35"></div>
                            </div>
                            <small>35% Complete</small>
                          </td>
                            <td>08/28/2018</td>
                            <td>08/28/2019</td>
                        </tr>
                      <tr>
                          <td>Batanes Province Project on the Construction of Ivatan Houses in Basco with Related Publications</td>
                          <td>Dr. Raymond Girard R. Tan</td>
                          <td>National Historical Commission of the Philippines (NHCP)</td>
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="87"></div>
                            </div>
                            <small>87% Complete</small>
                          </td>
                            <td>04/14/2017</td>
                            <td>06/17/2018</td>
                        </tr>
                      <tr>
                          <td>Needs Assessment and Financial Literacy among Public School Teachers in Metro Manila</td>
                          <td>Dr. Melvin A. Jabar</td>
                          <td>Metrobank Foundation / AXA</td>
                          <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                            </div>
                            <small>77% Complete</small>
                          </td>
                            <td>02/01/2018</td>
                            <td>02/01/2019</td>
                        </tr>
                      <tr>
                          <td>Need for Novelty and Creativity: Revisiting a Neglected Construct</td>
                          <td>Dr. Adrianne John R. Galang</td>
                          <td>H.J. Eysenck Memorial Fund</td>
                           <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                            </div>
                            <small>77% Complete</small>
                          </td>
                            <td>08/06/2018</td>
                            <td>04/14/2019</td>
                        </tr>
                      <tr>
                          <td>Effect of Devolution on Local Health Expenditure and Delivery of Health Services  </td>
                          <td>Dr. Marites M. Tiongco</td>
                          <td>Department of Health (DOH) and Philippine Council for Health Research and Development (PCHRD)</td>
                           <td class="project_progress">
                            <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="37"></div>
                            </div>
                            <small>37% Complete</small>
                          </td>
                          <td>11/30/2018</td>
                            <td>07/31/2019</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- End of table -->
          </div>
        </div>
        </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}